.cards {
	display: flex;
	gap: 2rem;
	padding: 2rem;

	a.card {
		display: block;
		color: inherit;
		text-decoration: none;
		transition: filter 400ms;

		&:hover {
			text-decoration: underline;
			filter: brightness(1.1) contrast(0.9);
		}
		img {
			display: block;
			height: 200px;
			width: 200px;
			object-fit: cover;
			transition: transform 1s; //transform is set inline by JS for page transitions
			transform-origin: 0 0;
		}
		span.title {
			display: block;
		}
	}
}