.cards {
  display: flex;
  gap: 2rem;
  padding: 2rem;
}
.cards a.card {
  display: block;
  color: inherit;
  text-decoration: none;
  transition: filter 400ms;
}
.cards a.card:hover {
  text-decoration: underline;
  filter: brightness(1.1) contrast(0.9);
}
.cards a.card img {
  display: block;
  height: 200px;
  width: 200px;
  object-fit: cover;
  transition: transform 1s;
  transform-origin: 0 0;
}
.cards a.card span.title {
  display: block;
}

main#view {
  /**/
}

main#edit {
  /**/
}

/* ------ color definitions ------ */
body {
  /* accents */
  --accent-gold: hsl(45, 100%, 60%);
  --accent-blue: hsl(195, 82%, 56%);
  --accent-violet: hsl(267, 30%, 16%);
  /* background & text */
  --foreground: black;
  --background: white;
}
body.dark {
  --foreground: white;
  --background: black; /*#333*/
}

/* ------------ body ------------- */
[x-cloak] {
  display: none !important;
}

body, input, textarea {
  font-family: "Playfair Display", Garamond;
}

body {
  font-size: 16px;
  margin: 0;
  color: var(--foreground);
  background-color: var(--background);
}

.transition {
  transition-duration: 0.4s;
  transition-timing-function: ease-out;
}

/* ----------- header ------------ */
header {
  height: 4rem;
  padding: 1rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 3rem;
  text-align: center;
}
header > * {
  flex: 1 0 0;
}
header #search {
  position: relative;
  flex: 0 1 20rem;
}
header #search #search_icon, header #search #cross_icon {
  position: absolute;
  top: 0;
  height: 100%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: difference;
  opacity: 0.5;
}
header #search #search_icon img, header #search #cross_icon img {
  width: 2rem;
  height: 2rem;
}
header #search #search_icon {
  left: 0.1rem;
  pointer-events: none;
}
header #search #cross_icon {
  right: 0;
}
header #search #cross_icon:hover {
  cursor: pointer;
}
header #search input {
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 2.2rem 0.5rem 2.4rem;
  border-radius: 2rem;
  border: 0;
  font-size: 1.1rem;
  background-color: #F5F5F5;
  color: var(--foreground);
}
header #search input::placeholder, header #search input:-ms-input-placeholder, header #search input::-ms-input-placeholder {
  /*color: #808080;
  opacity: 1;*/ /* for Firefox */
  color: black;
  opacity: 0.5; /* for Firefox */
}
header #heading {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
  gap: 1rem;
}
header #heading h1 {
  margin: 0;
  font-size: 2.3rem;
  line-height: 1.4rem;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  /*
  https://www.w3schools.com/howto/howto_css_switch.asp
  https://www.pinterest.de/pin/408420259958692132/ <-
  https://www.pinterest.de/pin/99008891794780360/
  https://www.pinterest.de/pin/665125438702052545/
  https://www.pinterest.de/pin/377458012503792197/
  https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme
  */
}
.switch input {
  display: none;
}
.switch input:checked + .slider {
  background-color: var(--accent-violet);
}
.switch input:focus + .slider {
  box-shadow: 0 0 1py var(--accent-violet);
}
.switch input:checked + .slider::before {
  -webkit-transform: translateX(26px);
  transform: translateX(26px);
}
.switch input:checked + .slider::after {
  background-color: var(--accent-violet);
  transform: translate(30px, 1px) scale(20, 10);
}
.switch .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--accent-blue);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}
.switch .slider:focus-within {
  outline: var(--foreground);
}
.switch .slider::before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: var(--accent-gold);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 50%;
}
.switch .slider::after {
  position: absolute;
  content: "";
  height: 2px;
  width: 1px;
  left: 4px;
  bottom: 50%;
  background-color: var(--accent-blue);
  transform: translateY(50%);
  transition-duration: 0.4s;
  border-radius: 50%;
}/*# sourceMappingURL=index.css.map */