@use "sass:math";

@use "mixins" as *;
@use "home";
@use "view";
@use "edit";



/* ------ color definitions ------ */
body {
	/* accents */
	--accent-gold: hsl(45, 100%, 60%);
	--accent-blue: hsl(195, 82%, 56%);
	--accent-violet: hsl(267, 30%, 16%);

	/* background & text */
	--foreground: black;
	--background: white;

	&.dark {
		--foreground: white;
		--background: black; /*#333*/
	}
}

/* ------------ body ------------- */
[x-cloak] {
	display: none !important;
}

body, input, textarea {
	font-family: "Playfair Display", Garamond;
}

body {
	font-size: 16px;
	margin: 0;
	color: var(--foreground);
	background-color: var(--background);
}

.transition {
	transition-duration: .4s;
	transition-timing-function: ease-out;
}

/* ----------- header ------------ */
header {
	$header-inner-height: 4rem;
	$header-padding: 1rem;

	height: $header-inner-height;
	padding: $header-padding;
	@include display-flex;
	@include flex-wrap;
	@include align-items(center);
	@include justify-content(space-between);
	gap: 3rem;
	text-align: center;

	> * {
		flex: 1 0 0;
	}
	#search {
		position: relative;
		flex: 0 1 20rem;
		
		#search_icon, #cross_icon {
			position: absolute;
			top: 0;
			height: 100%;
			aspect-ratio: 1/1;
			@include display-flex;
			@include align-items(center);
			@include justify-content(center);
			mix-blend-mode: difference;
			opacity: 0.5;

			img {
				width: 2rem;
				height: 2rem;
			}
		}
		#search_icon {
			left: 0.1rem;
			pointer-events: none;
		}
		#cross_icon {
			right: 0;

			&:hover {
				cursor: pointer;
			}
		}
		input {
			@include box-sizing(border-box);
			width: 100%;
			padding: 0.5rem 2.2rem 0.5rem 2.4rem;
			border-radius: math.div($header-inner-height, 2);
			border: 0;
			font-size: 1.1rem;
			background-color: #F5F5F5;
			color: var(--foreground);

			&::placeholder, &:-ms-input-placeholder, &::-ms-input-placeholder {
				/*color: #808080;
				opacity: 1;*/ /* for Firefox */
				color: black;
				opacity: 0.5; /* for Firefox */
			}
		}
	}
	#heading {
		@include display-flex;
		@include align-items(stretch);
		@include justify-content(space-between);
		@include flex-direction(column);
		gap: $header-padding;

		h1 {
			margin: 0;
			font-size: 2.3rem;
			line-height: 1.4rem;
		}
	}
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;

	input {
		display: none;
	}
	input:checked + .slider {
		background-color: var(--accent-violet);
	}
	input:focus + .slider {
		box-shadow: 0 0 1py var(--accent-violet);
	}
	input:checked + .slider::before {
		-webkit-transform: translateX(26px);
		transform: translateX(26px);
	}
	input:checked + .slider::after {
		background-color: var(--accent-violet);
		transform: translate(30px, 1px) scale(20, 10);
	}
	/*
	https://www.w3schools.com/howto/howto_css_switch.asp
	https://www.pinterest.de/pin/408420259958692132/ <-
	https://www.pinterest.de/pin/99008891794780360/
	https://www.pinterest.de/pin/665125438702052545/
	https://www.pinterest.de/pin/377458012503792197/
	https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme
	*/
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: var(--accent-blue);
		-webkit-transition: .4s;
		transition: .4s;
		border-radius: 34px;

		&:focus-within {
			outline: var(--foreground);
		}
		&::before {
			position: absolute;
			content: "";
			height: 26px;
			width: 26px;
			left: 4px;
			bottom: 4px;
			background-color: var(--accent-gold);
			-webkit-transition: .4s;
			transition: .4s;
			border-radius: 50%;
		}
		&::after {
			position: absolute;
			content: "";
			height: 2px;
			width: 1px;
			left: 4px;
			bottom: 50%;
			background-color: var(--accent-blue);
			transform: translateY(50%);
			transition-duration: .4s;
			border-radius: 50%;
		}
	}
}