[global]
#server.socket_host = "127.0.0.1"
server.socket_host = "192.168.178.43"
server.socket_port = 80
server.thread_pool = 4

[/]
tools.gzip.on = True
tools.gzip.mime_types = ["text/*"] #["text/html", "text/css", "text/javascript"]
#tools.caching.on = True
tools.staticdir.root = os.path.join(os.path.abspath(os.getcwd()), "content")

[/css]
tools.staticdir.on = True
tools.staticdir.dir = "css"

[/font]
tools.staticdir.on = True
tools.staticdir.dir = "font"

[/js]
tools.staticdir.on = True
tools.staticdir.dir = "js"
tools.staticdir.content_types = {"js": "text/javascript"}

[/min]
tools.staticdir.on = True
tools.staticdir.dir = "min"
tools.staticdir.content_types = {"html": "text/html", "css": "text/css", "js": "text/javascript"}