[global]
#server.socket_host = "127.0.0.1"
server.socket_host = "192.168.178.43"
server.socket_port = 80
server.thread_pool = 4
tools.gzip.on = True

[/]
tools.staticdir.root = os.path.join(os.path.abspath(os.getcwd()), "templates")

[/index.css]
tools.staticfile.on = True
tools.staticfile.filename = os.path.join(os.path.abspath(os.getcwd()), "templates", "index.css")

[/index_landscape.css]
tools.staticfile.on = True
tools.staticfile.filename = os.path.join(os.path.abspath(os.getcwd()), "templates", "index_landscape.css")

[/index_portrait.css]
tools.staticfile.on = True
tools.staticfile.filename = os.path.join(os.path.abspath(os.getcwd()), "templates", "index_portrait.css")