/* ----------------------------------------------------- header ----------------------------------------------------- */
header {
	position: relative;
}
.switch {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
}