<html>
	<head>
		<meta charset = "utf-8">
		<meta http-equiv = "expires" content = "21600">
		<meta name = "author" content = "Jona Heinke">
		<meta name = "description" content = "A personal recipe book without trackers, bloat and ads.">
		<meta name = "theme-color" content = "#555555">
		<title>TITLE</title>
		<link ref = "stylesheet" href = "index.css">
		<style>
			body {
				margin: 0;
			}
			header {
				text-align: center;
			}
			main {
				background: #E0E0E0;
			}
			footer {
				width: 100%;
				height: 4em;
				color: #FFFFFF;
				background: #555555;
			}
		</style>
	</head>
	<body>
		<header>
			<h1>RECIPE BOOK</h1>
			<i>A personal recipe book without trackers, bloat and ads.</i>
			<br><br>
		</header>
		<main>
			<input id = "search" placeholder = "Search for recipes...">
			<div id = "searchresults"></div>
		</main>
		<footer>
			Copyright © {{year}}, Jona Heinke
		</footer>
	</body>
</html>