<html>
	<head>
		<meta charset = "utf-8">
		<meta http-equiv="expires" content="21600">
		<meta name="theme-color" content="#FF10C0">
		<title>RECIPES</title>
		<link rel="stylesheet" href="index.css">
		<link rel="stylesheet" href="index_landscape.css" media="(orientation: landscape)">
		<link rel="stylesheet" href="index_portrait.css"  media="(orientation: portrait)">
	</head>
	<body>
		<header>
			<h1>RECIPE BOOK</h1>
			<i>A personal recipe book without trackers, bloat and ads.</i>
		</header>
		<main>
			<input id="search" placeholder="Search for recipes...">
			<div id="searchresults"></div>
		</main>
		<!--<footer>
			<div>Copyright © {{year}}, Jona Heinke</div>
		</footer>-->
	</body>
</html>