@media (orientation: landscape) {
    main {
        text-align: center;
        padding: 1em 0;
    }
    main input#search {
        height: 2em;
        width: 30em;
    }
    main input#submit {
        height: 2em;
    }
}