/* ----------------------------------------------------- header ----------------------------------------------------- */
header {
	position: relative;
}
.switch {
	position: absolute;
	top: 50%;
	right: 1em;
	transform: translateY(-50%);
}

/* ------------------------------------------------------ main ------------------------------------------------------ */
main {
	text-align: center;
	padding: 1em 0;
}
main input#search {
	height: 2em;
	width: 30em;
}
main input#submit {
	height: 2em;
}