/* ------ color definitions ------ */
/* accents */
body {
	--accent-gold: hsl(45, 100%, 60%);
	--accent-blue: hsl(195, 82%, 56%);
	--accent-violet: hsl(267, 30%, 16%);
}
/* background & text */
body {
	--foreground: black;
	--background: white;
}
body.dark {
	--foreground: white;	
	--background: black; /*#333*/
}

/* ------------ body ------------- */
body {
	margin: 0;
	color: var(--foreground);
	background-color: var(--background);
	font-family: "Playfair Display", Garamond;
}
form {
	margin: 0;
}
.transition {
	transition-duration: .4s;
	transition-timing-function: ease-out;
}

/* ----------- header ------------ */
header {
	text-align: center;
	padding: 1em;
}
h1 {
	margin: 0;
}
.switch {
	position: relative;
	display: inline-block;
	width: 60px;
	height: 34px;
}
/*
https://www.w3schools.com/howto/howto_css_switch.asp
https://www.pinterest.de/pin/408420259958692132/ <-
https://www.pinterest.de/pin/99008891794780360/
https://www.pinterest.de/pin/665125438702052545/
https://www.pinterest.de/pin/377458012503792197/
https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme
*/
.switch input {
	display: none;
}
.slider {
	position: absolute;
	cursor: pointer;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: var(--accent-blue);
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 34px;
}
.slider:focus-within {
	outline: var(--foreground);
}
.slider::before {
	position: absolute;
	content: "";
	height: 26px;
	width: 26px;
	left: 4px;
	bottom: 4px;
	background-color: var(--accent-gold);
	-webkit-transition: .4s;
	transition: .4s;
	border-radius: 50%;
}
input:checked + .slider {
	background-color: var(--accent-violet);
}
input:focus + .slider {
	box-shadow: 0 0 1py var(--accent-violet);
}
input:checked + .slider::before {
	-webkit-transform: translateX(26px);
	transform: translateX(26px);
}
.slider::after {
	position: absolute;
	content: "";
	height: 2px;
	width: 1px;
	left: 4px;
	bottom: 50%;
	background-color: var(--accent-blue);
	transform: translateY(50%);
	transition-duration: .4s;
	border-radius: 50%;
}
input:checked + .slider::after {
	background-color: var(--accent-violet);
	transform: translate(30px, 1px) scale(20, 10);
}



@media (orientation: landscape) {
	header {
		position: relative;
	}
	.switch {
		position: absolute;
		top: 50%;
		right: 1em;
		transform: translateY(-50%);
	}
}

@media (orientation: portrait) {
	h1 {
		font-size: 6vh;
	}
	i {
		font-size: 2vh;
	}
}